.orderProduct {
  width: 100%;
  height: 100px;
  margin-bottom: 1rem;
  margin-top: 0.25rem;
  .content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1rem;
    margin-bottom: 0.25rem;
    .orderProductImg {
      img {
        width: 100%;
      }
    }

    .info {
      height: 100%;
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .name {
          font: var(--font-main-s);
        }
      }

      .price,
      .size {
        font: var(--font-main-s);
        display: flex;
        align-items: center;
      }
    }
  }
}
