.sidebar {
  .choosenItem {
    font: var(--font-main-m);
    margin: var(--margin-l) var(--margin-s);
  }
  .items {
    .item {
      font: var(--font-main-s);
      cursor: pointer;
      padding: var(--padding-m) var(--padding-s);
    }
    .selected {
      background: var(--selected-color);
      border-radius: 4px;
    }
  }
}
