@import "app/style/variables/breakpoint.scss";

.signInForm {
  position: relative;
  min-height: calc(100vh - var(--header-height) - 3 * var(--margin-m) - 26px);
  width: 100%;
  @include breakpoint(lg) {
    min-height: auto;
  }

  .resetPass {
    margin-top: 1rem;
  }

  .btns {
    width: 100%;
    position: absolute;
    bottom: 0;
    @include breakpoint(md) {
      position: relative;
      bottom: auto;
      margin-top: 2rem;
    }
  }
}
