@import "app/style/variables/breakpoint.scss";

.personal {
  min-height: calc(
    100vh - var(--header-height) - var(--select-height) - 4 * var(--padding-m)
  );
  position: relative;
  .btns {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}
