.signUnForm {
  position: relative;
  min-height: calc(100vh - var(--header-height) - 3 * var(--margin-m) - 26px);
  width: 100%;

  .btns {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}
