.collection {
  padding: 0 0.5rem;

  .addCollection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    .addCollectionItem {
      stroke: var(--primary-color);
      height: 50px;
      width: 50px;
    }
  }

  .newCollection {
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
    padding: 0 1rem;
    margin: 0.5rem 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    color: var(--font-color);
    
    .input {
      padding-top: 0.5rem;
    }
    .btns {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .acceptBtn,
      .closeBtn {
        width: 34px;
        height: 34px;
        fill: var(--primary-color);
      }
    }
  }
  .collectionList {
    .collectionItem {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 1rem;
      margin: 0.5rem 0;
      border: 1px solid var(--primary-color);
      border-radius: 1rem;
      font-size: 24px;
      color: var(--font-color);

      .removeBtn {
        stroke: var(--primary-color);
        height: 30px;
        width: 30px;
      }
    }
  }
}
