.carousel {
  width: 100%;
  display: flex;
  flex-direction: column;

  .wrapper {
    width: 100%;
    position: relative;
    .content {
      overflow: hidden;
      width: 100%;
      height: 100%;
      cursor: zoom-in;
      .imagesLine {
        display: flex;
        transition: all 250ms linear;
        align-items: center;
        img {
          min-width: 100%;
          max-height: 100%;
          width: auto;
        }
      }
    }

    .dots {
      width: 100%;
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 15px;
      .dotItem {
        margin: 5px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgb(206, 206, 206);
        cursor: pointer;
      }
      .current {
        background-color: var(--primary-color);
      }
    }

    .prev,
    .next {
      position: absolute;
      //z-index: 2;
      top: calc(50% - 20px);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.25);
      margin: auto;
      text-align: center;
      &:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.75);
      }
      .prevArrow,
      .nextArrow {
        height: 40px;
        width: 40px;
        fill: var(--primary-color);
      }
    }

    .prev {
      left: 5px;
    }

    .next {
      right: 5px;
      .nextArrow {
        transform: rotate(180deg);
      }
    }
  }
}
