.filters {
  position: relative;
  height: calc(100vh - var(--header-height) - 3rem - 26px);
  width: 100%;

  .sort {
    margin: 1rem 0;
    .sortTitle {
      font: var(--font-main-m);
      margin-bottom: 0.5rem;
    }
    .sortTypes {
      padding: 0 0.5rem;
    }
  }
  .types {
    .typesTitle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font: var(--font-main-m);
      padding: 1rem 0;
      color: var(--primary-color);
    }
    .dropArrow {
      margin-left: 1rem;
      width: 18px;
      height: 18px;
      fill: var(--primary-color);
      transform: rotate(180deg);
    }
    .active {
      transform: rotate(0deg);
    }
  }
  .accceptBtn {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
