@import "app/style/variables/breakpoint.scss";

.user {
  padding: var(--padding-m);
  margin: auto;
  @include breakpoint(lg) {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 2rem;
    padding: calc(var(--padding-l) / 2) var(--padding-l);
    max-width: 1000px;
  }

  @include breakpoint(xl) {
    max-width: 1200px;
  }
  .menu {
    color: var(--font-color);
    width: 100%;
  }

  .content {
    @include breakpoint(lg) {
      padding-top: calc(74px - var(--padding-m));
    }
  }
}
