@import "app/style/variables/breakpoint.scss";

.searchPage {
  padding: var(--padding-m);
  margin: auto;
  @include breakpoint(lg) {
    padding: calc(var(--padding-l) / 2) var(--padding-l);
    max-width: 800px;
  }
  @include breakpoint(xl) {
    max-width: 800px;
  }

  .searchQuery {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 6fr 1fr;
    .searchIcon {
      height: 34px;
      width: 34px;
      fill: var(--primary-color);
      margin-top: 22px;
      margin-left: 22px;
      cursor: pointer;
    }
  }
}
