.ordering {
  padding: var(--padding-m);
  .personal {
  }
  .delivery {
    margin-top: 1rem;
    .houseFlat {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }
  }
}
