@import "app/style/variables/breakpoint.scss";

.favorites {
  padding: var(--padding-m);
  margin: auto;
  @include breakpoint(lg) {
    padding: calc(var(--padding-l) / 2) var(--padding-l);
    max-width: 800px;
  }
  @include breakpoint(xl) {
    max-width: 800px;
  }

  .toAuth,
  .toShop {
    margin-bottom: calc(2 * var(--margin-m));

    .title {
      margin-top: var(--margin-m);
      margin-bottom: var(--margin-m);
      font: var(--font-main-m);
      width: 100%;
      text-align: center;
    }
    .link {
      text-decoration: none;
      color: var(--font-color);
      border-bottom: 1px solid var(--font-color);
      &:hover {
        color: var(--primary-color);
        border-bottom: 1px solid transparent;
      }
    }
    .logo {
      .logoImg {
        margin-left: calc(50% - 50px);
        width: 100px;
      }
    }
  }

  .favoritesList {
  }
}
