.favorites {
  padding: var(--padding-m);
  .unauthorized {
  }
  .favoritesList {
    .title {
      margin-top: var(--margin-m);
      margin-bottom: var(--margin-m);
      font: var(--font-main-m);
      width: 100%;
      text-align: center;
    }
  }
}
